ansible>=8.4.0
ansible-lint>=6.20.3
molecule-plugins>=23.5.0
molecule-plugins[docker]>=23.5.0
docker>=6.1.3
molecule>=6.0.2
cryptography!=35,<40,>=2.6
urllib3<2.0.0 # https://github.com/docker/docker-py/pull/3114
requests>=2.31.0
python-gnupg>=0.5.1
