# Managed by Ansible
[Desktop Entry]
Type=Application
Version=1.0
Name=Mattermost - Userapps
Comment=Mattermost is a secure, open source platform for communication, collaboration, and workflow orchestration across tools and teams.
Path={{  rv_mattermost_desktop_install_path  }}
Exec={{  rv_mattermost_desktop_install_path  }}/mattermost-desktop
Icon={{  rv_mattermost_desktop_install_path  }}/app_icon.png
Terminal=false
Categories=Office;Network;WebBrowser;
