# Managed by Ansible
[Desktop Entry]
Name=Visual Studio Code - Userapps
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec={{ rv_code_install_path }}/code --no-sandbox --unity-launch %F
Icon=com.visualstudio.code
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window - Userapps
Exec={{ rv_code_install_path }}/code --no-sandbox --new-window %F
Icon=com.visualstudio.code
